$layout-width: 1250px;

// colors
$color-red: #ff3f40;
$color-gray: #f6f2f1;
$color-brown: #312f30;

// breakpoints
$device-small: 576px;
$device-medium: 768px;
$device-large: 992px;
$device-extra-large: 1260px;
