/* General */

html {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
}

body {
  width: 800px;
  margin: 0 auto;
}

/* Typography */

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 5rem;
  background-size: 48px 48px;
}

h2 {
  position: absolute;
  right: 0;
  left: 0;
  background: pink;
  z-index: 3000;
  padding: 10px 20px;
}

p,
label,
input,
select,
button,
li {
  font-size: 1.5rem;
}

li {
  line-height: 1.5;
}

/* block styling */

header,
aside,
main,
footer {
  padding: 20px;
}

header {
  border: 1px solid black;
  border-bottom: 0;
}

aside {
  border-right: 1px solid black;
}

body > div {
  border: 1px solid black;
  display: flex;
}

footer {
  border: 1px solid black;
  border-top: 0;
}

aside {
  flex: 3;
}

main {
  flex: 7;
}

/* Form styling */

aside {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

aside div {
  margin-bottom: 20px;
}

label,
select,
input {
  display: block;
}

label {
  margin-bottom: 5px;
}

select,
input,
button {
  width: 100%;
}

input {
  background: black;
  box-shadow: inset 1px 1px 1px white;
  color: yellow;
  border: none;
  padding: 10px 20px;
  width: 201.5px;
}

button {
  background: black;
  color: yellow;
  padding: 10px 20px;
  border: none;
}

/* Styling the products */

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section {
  width: 100%;
  margin: 5px;
  background-color: black;
  position: relative;
  height: 215px;
}

section img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
}

section p {
  background: #dadada;
  width: 100%;
  height: 50px;
  margin: 0;
  line-height: 50px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}

.vegetables {
  background: black url(icons/vegetable.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.meat {
  background: black url(icons/meat.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}

.soup {
  background: black url(icons/soup.png) no-repeat 2px 2px;
  background-size: 24px 24px;
}
